<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="templates/master.xhtml">
		<ui:define name="content">
			<h:form id="headerForm">
				<p:remoteCommand name="updateHeaderForm" update="headerForm :form"
					immediate="true" />
				<p:growl id="messages" life="4000" autoUpdate="true"
					redisplay="true" showSummary="true" />
				<p:menubar>
					<p:menuitem>
						<p:commandLink immediate="true"
							action="#{wsdlProjectHome.clean()}" update=":formx :form">
							<h:graphicImage alt="SOAP UI WEB" url="img/logo-1.png" width="50"
								title="SOAP UI WEB" height="35" />
						</p:commandLink>
					</p:menuitem>
					<p:submenu label="Projeler" icon="ui-icon-document"
						rendered="#{loginHome.user ne null}">
						<c:forEach var="prj" items="#{loginHome.projects}">
							<p:submenu label="#{prj.name}">
								<p:menuitem value="Aç" immediate="true" update=":formx :form"
									icon="ui-icon-pencil" onstart="showLoading()"
									oncomplete="hideLoading()"
									action="#{wsdlProjectHome.loadProject(prj.id)}">
								</p:menuitem>
								<p:menuitem value="Sil" immediate="true"
									update=":headerForm :formx :form" icon="ui-icon-close"
									onstart="showLoading()" oncomplete="hideLoading()"
									action="#{wsdlProjectHome.deleteProject(prj.id)}">
								</p:menuitem>
								<p:menuitem value="Yeniden Yükle" immediate="true"
									update=":formx :form" icon="ui-icon-refresh"
									onstart="showLoading()" oncomplete="hideLoading()"
									action="#{wsdlProjectHome.reloadProject(prj.id)}">
								</p:menuitem>
							</p:submenu>
						</c:forEach>
					</p:submenu>

					<f:facet name="options">
						<p:outputLabel rendered="#{loginHome.user ne null}"
							value="Hoş geldin #{loginHome.user.userName} " />
						<p:commandButton value="Çıkış" icon="ui-icon-extlink"
							rendered="#{loginHome.user ne null}"
							action="#{wsdlProjectHome.logout()}" immediate="true"
							update=":headerForm :formx :form" />
						<p:commandButton type="button" value="Giriş" icon="ui-icon-person"
							rendered="#{loginHome.user eq null}"
							onclick="PF('loginDialog').show()" />
					</f:facet>
				</p:menubar>
				<p:dialog header="Giriş" widgetVar="loginDialog" modal="true"
					id="loginDialog" height="150" width="300">
					<p:panelGrid columns="2" id="loginDialogPanel">
						<h:outputLabel value="Kullanıcı Adı" />
						<p:inputText value="#{loginHome.userName}" required="true" />
						<h:outputLabel value="Parola" />
						<p:password value="#{loginHome.password}" required="true" />
					</p:panelGrid>
					<p:commandButton action="#{loginHome.login()}" value="Giriş"
						id="loginBtn" oncomplete="if(args.loggedIn){updateHeaderForm();}"
						ajax="true" update="loginBtn loginDialogPanel"
						process="loginBtn loginDialogPanel" />
					<p:spacer width="3" />
					<p:commandButton type="button" value="Yeni"
						onclick="PF('newUserDialog').show()" />
				</p:dialog>
				<p:dialog header="Yeni Kullanıcı" widgetVar="newUserDialog"
					modal="true" id="newUserDialog" height="175" width="300">
					<p:panelGrid columns="2" id="newUserDialogPanel">
						<h:outputLabel value="Kullanıcı Adı" />
						<p:inputText value="#{userHome.userName}" required="true" />
						<h:outputLabel value="Parola" />
						<p:password value="#{userHome.password1}" required="true" />
						<h:outputLabel value="Parola Tekrar" />
						<p:password value="#{userHome.password2}" required="true" />
						<h:outputLabel value="E-posta" />
						<p:inputText value="#{userHome.email}" required="true" />
					</p:panelGrid>
					<p:spacer height="5" />
					<p:commandButton action="#{userHome.create()}" value="Kaydet"
						id="newUserBtn" ajax="true"
						oncomplete="if(args.loggedIn){updateHeaderForm();}"
						update="newUserBtn newUserDialogPanel"
						process="newUserBtn newUserDialogPanel" />
				</p:dialog>
				<p:dialog moveable="false" resizeable="false" id="ajaxLoadingPanel"
					modal="true" closable="false" widgetVar="ajaxLoadingPanel"
					resizable="false" showHeader="false" zindex="100">
					<div>
						<h:graphicImage value="/img/loading.gif" />
					</div>
				</p:dialog>
			</h:form>
			<h:form id="formx">
				<c:if test="#{wsdlProjectHome.root eq null}">
					<p:spacer height="100px" />
					<center>
						<a href="index.xhtml"><img alt="SOAP UI WEB"
							src="img/logo-1.png" /></a>
					</center>
					<p:spacer height="1" />
					<center>
						<p:inputText value="#{wsdlProjectHome.wsdlUri}"
							placeholder="http://www.example.com/services/TestService?wsdl"
							style="width: 55%; height: 25px;">
							<p:focus />
						</p:inputText>
						<p:spacer width="5px" />
						<p:commandButton actionListener="#{wsdlProjectHome.wsdlParse()}"
							value="Tamam" ajax="true" update=":form :formx" />
					</center>
				</c:if>
			</h:form>

			<h:form id="form">
				<p:remoteCommand name="onFormTabChanged" partialSubmit="false"
					actionListener="#{wsdlProjectHome.onFormTabChanged}" />
				<p:remoteCommand name="onRequestTabChanged" partialSubmit="false" />
				<p:remoteCommand name="onAppletCallEnd" partialSubmit="true"
					update=":form" oncomplete="resizeDiv();hideLoading();"
					actionListener="#{wsdlProjectHome.onAppletCallEnd}" />
				<h:panelGrid columns="2" columnClasses="leftTree,rightTab"
					rendered="#{wsdlProjectHome.root ne null}" width="100%">
					<h:panelGrid columns="1" width="100%" cellpadding="0"
						cellspacing="0">
						<h:panelGrid columns="2" width="100%" cellpadding="0"
							cellspacing="0" rendered="#{loginHome.user ne null}">
							<p:inputText value="#{wsdlProjectHome.root.data}"
								style="width: 200px;" />
							<p:commandButton
								value="#{wsdlProjectHome.activeProjectId eq -1 ? 'Kaydet' : 'Güncelle'}"
								onstart="showLoading()" style="height: 25px;"
								oncomplete="hideLoading()" update=":headerForm :form"
								actionListener="#{wsdlProjectHome.saveProject()}"
								partialSubmit="false"></p:commandButton>
						</h:panelGrid>
						<p:tree value="#{wsdlProjectHome.root}" var="node" dynamic="true"
							selectionMode="single" cache="false"
							rendered="#{wsdlProjectHome.root ne null}" id="leftTree">
							<p:ajax event="select" update=":form" partialSubmit="true"
								listener="#{wsdlProjectHome.onLeftTreeNodeSelect}" />
							<p:treeNode
								icon="#{node.nodeType eq 'REQUEST' ? 'ui-icon-document' : 'ui-icon-folder-open'}"
								id="leftTreeNode">
								<h:panelGrid columns="2" id="nodeE"
									style="border-spacing: 0px; padding:0px;">
									<h:outputText styleClass="#{node.nodeType}"
										value="#{node.name}" />
									<h:outputText styleClass="ui-icon ui-icon-triangle-1-s"
										id="nodeEIcon" style="cursor: pointer;"
										rendered="#{node.nodeType eq 'OPERATION'}" />
								</h:panelGrid>
								<p:contextMenu rendered="#{node.nodeType eq 'OPERATION'}"
									for="nodeEIcon" event="click">
									<p:menuitem value="Request Ekle" icon="ui-icon-plus"
										action="#{wsdlProjectHome.addRequest(node)}" ajax="true"
										partialSubmit="true" update=":form" />
								</p:contextMenu>
								<p:contextMenu rendered="#{node.nodeType eq 'REQUEST'}"
									for="nodeE">
									<p:menuitem value="Sil" icon="ui-icon-close"
										action="#{wsdlProjectHome.deleteRequest(node)}" ajax="true"
										partialSubmit="true" update=":form" />
								</p:contextMenu>
							</p:treeNode>
						</p:tree>
					</h:panelGrid>
					<h:panelGrid width="100%">
						<p:tabView id="tabPanel" value="#{wsdlProjectHome.requests}"
							rendered="#{wsdlProjectHome.requests.size() gt 0}" dynamic="true"
							cache="false" onTabChange="onRequestTabChanged()"
							activeIndex="#{wsdlProjectHome.activeRequestTabIndex}"
							var="requestItem">
							<p:ajax event="tabClose"
								listener="#{wsdlProjectHome.onRequestTabClosed}"
								partialSubmit="false" />
							<p:tab title="#{requestItem.name}" closable="true" id="reqTab">
								<f:facet name="title">
									<h:outputText value="#{requestItem.name}" id="reqTitle" />
									<p:contextMenu for="reqTitle">
										<p:menuitem value="Kapat" icon="ui-icon-close"
											action="#{wsdlProjectHome.activeRequest()}" ajax="true"
											partialSubmit="true" update=":form" />
										<p:menuitem value="Tümünü Kapat" icon="ui-icon-close"
											action="#{wsdlProjectHome.closeAllRequests()}" ajax="true"
											partialSubmit="true" update=":form" />
										<p:menuitem value="Diğerlerini Kapat" icon="ui-icon-close"
											action="#{wsdlProjectHome.closeOtherRequests()}" ajax="true"
											partialSubmit="true" update=":form" />
									</p:contextMenu>
								</f:facet>
								<table width="100%">
									<tr>
										<td width="100%"><p:inputText
												style="width: 75%; height: 25px;"
												value="#{requestItem.location}" id="uri" /> <p:spacer
												width="10px" /> <p:commandButton style="height: 25px;"
												value="Çalıştır" ajax="true" process=":form:tabPanel"
												onstart="showLoading()"
												oncomplete="callApplet(#{wsdlProjectHome.activeRequestTabIndex}, '#{requestItem.soapVersion}', '#{requestItem.soapAction}');"
												actionListener="#{wsdlProjectHome.prepareXml(requestItem)}"
												update=":form" /></td>
										<td align="right"><p:commandButton value="Header Ekle"
												partialSubmit="true" process=":form" update=":form"
												oncomplete="PF('securityHeader').show();" /></td>
									</tr>
								</table>
								<input type="hidden" value="#{requestItem.xml}"
									id="hiddenXml:#{wsdlProjectHome.activeRequestTabIndex}" />
								<p:tabView id="formTabView" dynamic="true" cache="false"
									activeIndex="#{requestItem.activeTab}"
									onTabChange="onFormTabChanged([{name: 'newTabIndex',value: index}])">
									<p:tab id="formTab" title="Form">
										<p:tree value="#{requestItem.metaRoot}" var="meta"
											widgetVar="formTree" dynamic="false" cache="false"
											style="width: 100%;">
											<p:treeNode styleClass="requestNode">
												<table id="valTable">
													<tr>
														<td style="width: 100px;"><h:outputText
																value="#{meta.name}" /></td>
														<td><p:inputText value="#{meta.value}"
																rendered="#{meta.dataType eq 'STRING' or meta.dataType eq 'LONG' or meta.dataType eq 'DECIMAL'}" />
															<p:selectOneMenu value="#{meta.value}" editable="true"
																style="width: 150px;"
																rendered="#{meta.dataType eq 'ENUM'}">
																<f:selectItem itemLabel="" itemValue="" />
																<f:selectItems value="#{meta.possibleValues}" var="item"
																	itemLabel="#{item}" itemValue="#{item}" />
															</p:selectOneMenu> <p:selectOneMenu value="#{meta.value}" editable="true"
																style="width: 150px;"
																rendered="#{meta.dataType eq 'BOOLEAN'}">
																<f:selectItem itemLabel="" itemValue="" />
																<f:selectItem itemLabel="false" itemValue="false" />
																<f:selectItem itemLabel="true" itemValue="true" />
															</p:selectOneMenu> <p:calendar value="#{meta.value}" id="dateTimeInput"
																pattern="yyyy-MM-dd HH:mm:ss.SSSXXX" size="30"
																converter="dateTimeConverter"
																rendered="#{meta.dataType eq 'DATETIME'}">
															</p:calendar> <p:calendar value="#{meta.value}" pattern="yyyy-MM-dd"
																rendered="#{meta.dataType eq 'DATE'}" /></td>
														<td><h:outputText
																rendered="#{meta.optional ne null and !meta.optional}"
																value="*" style="color: red;" /> <h:outputText
																value="#{meta.dataType.toString().toLowerCase(wsdlProjectHome.enLocale)}" /></td>
														<td><p:commandButton ajax="true" process=":form"
																update=":form" rendered="#{meta.many}"
																icon="ui-icon-plus"
																action="#{wsdlProjectHome.cloneNode(meta)}" /> <p:commandButton
																ajax="true" process=":form" update=":form"
																rendered="#{meta.many}" icon="ui-icon-minus"
																action="#{wsdlProjectHome.deleteNode(meta)}" /></td>
													</tr>
												</table>
											</p:treeNode>
										</p:tree>
										<script type="text/javascript">
											toggleClass();
										</script>
									</p:tab>
									<p:tab id="xmlTab" title="Xml">
										<p:inputTextarea value="#{requestItem.xml}" id="xmlBox"
											widgetVar="xmlBox" style="width: 100%; height: 100%;"
											rows="15" cols="40"></p:inputTextarea>
									</p:tab>
									<p:tab title="Response">
										<div id="responseDiv" class="inherit">
											<h:panelGrid id="responsePanelGrid" width="100%" columns="1"
												styleClass="inherit">
												<p:commandLink value="Temizle"
													actionListener="#{wsdlProjectHome.clearResponse()}"
													ajax="true" partialSubmit="true" update="responsePanelGrid" />
												<p:outputLabel escape="false"
													value="#{requestItem.responseXml}" />
											</h:panelGrid>
											<div id="endOfResponseDiv" />
											<script type="text/javascript">
												$(document).ready(function() {
													resizeDiv();
												});

												window.onresize = function(
														event) {
													resizeDiv();
												}
											</script>
										</div>
									</p:tab>
								</p:tabView>
							</p:tab>
						</p:tabView>
					</h:panelGrid>
				</h:panelGrid>

				<p:dialog header="Security Header" widgetVar="securityHeader"
					modal="true" id="securityHeader" height="200" width="400">
					<p:dataTable id="hdrTable"
						value="#{wsdlProjectHome.aktifRequest.securityHeaders}" var="hd">
						<p:column>
							<f:facet name="header">Key
							</f:facet>
							<p:selectOneMenu id="console" value="#{hd.key}" editable="true"
								style="width: 150px;">
								<f:selectItems value="#{wsdlProjectHome.headers}" var="item"
									itemLabel="#{item}" itemValue="#{item}" />
							</p:selectOneMenu>
						</p:column>
						<p:column>
							<f:facet name="header">Value
							</f:facet>
							<p:inputText value="#{hd.value}" />
						</p:column>
						<p:column width="20">
							<f:facet name="header">
								<p:commandButton icon="ui-icon-plus"
									actionListener="#{wsdlProjectHome.addHeaderRow}"
									process="hdrTable" update="hdrTable"></p:commandButton>
							</f:facet>
							<p:commandButton icon="ui-icon-minus"
								actionListener="#{wsdlProjectHome.removeHeaderRow(hd)}"
								process="hdrTable" update="hdrTable"></p:commandButton>
						</p:column>
					</p:dataTable>
					<p:commandButton actionListener="#{wsdlProjectHome.addHeader}"
						value="Ekle" update=":form" process="securityHeader" />
				</p:dialog>
			</h:form>
			<applet width="0" height="0" id="wsCallerApplet" archive="applet.jar"
				code="com.soapuiweb.applet.WSCallerApplet.class" codebase="." />
			<!-- 			<script src="https://www.java.com/js/deployJava.js"></script> -->
			<script>
				var attributes = {
					code : 'com.soapuiweb.applet.WSCallerApplet.class',
					archive : 'applet.jar',
					width : 0,
					height : 0,
					id : 'wsCallerApplet'
				};
				var parameters = {};
				var version = '1.6';
				// 				deployJava.runApplet(attributes, parameters, version);
			</script>
			<script>
				function callApplet(index, soapVersion, soapAction) {
					var xml = document.getElementById("hiddenXml:" + index).value;
					var uri = document.getElementById("form:tabPanel:" + index
							+ ":uri").value;
					var applet = document.getElementById('wsCallerApplet');
					try {
						applet.invoke(uri, xml, soapAction, soapVersion);
					} catch (e) {
						hideLoading();
						alert("Bu işlevin etkin olması için Java eklentisine izin vermeniz gerekir.");
					}
				}
			</script>
		</ui:define>
	</ui:composition>
</h:body>
</html>