@CHARSET "UTF-8";

body {
	border: 0;
	width: 100%;
	background: #fff;
	min-width: 600px;
	font-size: 90%;
	margin: 0;
	padding: 0;
}

form {
	margin: 5px;
}

input {
	padding: 0 0 0 3px;
}

input.leftLabel {
	text-align: left;
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}

input.button, textarea.text, input.text, select, input.rich-calendar-input
	{
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
}

input.text, textarea.text, select.text, input.rich-calendar-input {
	border: #404040 solid 1px;
	color: #000;
	margin-right: 5px;
}

input.textPhone {
	margin-left: 5px;
}

input.text:focus, select.text:focus, textarea.text:focus {
	border: #bf3434 solid 1px;
	background: #ffffdf;
}

input.button, button.button {
	font-weight: 700;
	width: 90px;
	height: 25px;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.tramerButton, button.tramerButton {
	font-weight: 700;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.kucukYaziliButton {
	font-family: tahoma, verdana, helvetica;
	font-size: 9px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 700;
	width: 90px;
	height: 25px;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.kucukYaziliKucukButton {
	font-family: tahoma, verdana, helvetica;
	font-size: 9px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 700;
	width: 70px;
	height: 25px;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.kucukYaziliOrtaButton {
	font-family: tahoma, verdana, helvetica;
	font-size: 9px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 700;
	width: 145px;
	height: 25px;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.kucukYaziliUzunButton {
	font-family: tahoma, verdana, helvetica;
	font-size: 9px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 700;
	width: 180px;
	height: 25px;
	background-image: url(/gunessigorta/img/button-back.png);
	border: 1px solid #bf3434;
	color: #fff;
	cursor: pointer;
	margin: 2px;
}

input.disableButton {
	font-weight: 700;
	width: 90px;
	height: 25px;
	background-image: url(/gunessigorta/img/dis-button-back.png);
	border: 1px solid #bbb;
	color: #bbb;
	cursor: pointer;
	margin: 2px;
}

form div.propMin div.title {
	font-weight: 700;
	float: left;
	text-align: right;
	white-space: normal;
	padding: 4px 5px 0 0;
}

.teminatLimitliPopupHeader {
	background-color: #bf3434;
	height: 25px;
}

.teminatLimitliPopupHeaderColumn {
	border: #bf3434 solid 2px;
	background-image: url(/gunessigorta/img/button-back.png);
	font-weight: 700;
	color: #fff;
	width: 150px;
}

.prop {
	min-height: 15px;
}

.prop .name {
	font-weight: 700;
	float: left;
	width: 190px;
	text-align: right;
	padding-right: 10px;
}

.prop .nameLarge {
	font-weight: 700;
	float: left;
	width: 235px;
	text-align: right;
	padding-right: 10px;
}

.prop div.title {
	font-weight: 700;
	float: left;
	width: 190px;
	text-align: right;
	white-space: nowrap;
	padding: 4px 5px 0 0;
}

.prop div.titleMed {
	font-weight: 700;
	float: left;
	width: 150px;
	text-align: right;
	white-space: nowrap;
	padding: 4px 5px 0 0;
}

.prop div.largeTitle {
	font-weight: 700;
	float: left;
	width: 250px;
	text-align: right;
	white-space: nowrap;
	padding: 4px 5px 0 0;
}

.prop div.xlargeTitle {
	font-weight: 700;
	float: left;
	width: 300px;
	text-align: right;
	white-space: nowrap;
	padding: 4px 5px 0 0;
}

.prop div.phoneHeader {
	font-weight: 700;
	float: left;
	text-align: center;
	white-space: nowrap;
	padding: 4px 0 0;
}

.prop div.phoneHeaderSmall {
	width: 130px;
}

.prop div.riskTitle {
	font-weight: 700;
	float: left;
	text-align: right;
	white-space: nowrap;
	width: 220px;
	padding: 4px 5px 0 0;
}

.prop div.riskBaslikTitle {
	font-weight: 700;
	float: left;
	text-align: right;
	text-decoration: underline;
	white-space: nowrap;
	width: 220px;
	padding: 20px 5px 0 0;
}

.disprop h3 {
	color: red;
}

.disprop a, a.link, a.link:visited, a.link:active, a.link:hover {
	color: black;
	font-size: 100%;
	text-decoration: none;
}

.disprop .name {
	display: inline;
	vertical-align: top;
	font-weight: bold;
	width: 110px;
	float: none;
	padding: 3px 4px 2px 5px;
	margin-top: 3px;
	clear: left;
	text-decoration: none;
}

.disprop .value {
	float: none;
	padding: 0px 5px 2px 5px;
	clear: left;
	text-decoration: none;
}

form div.propMax div.title {
	font-weight: 700;
	float: left;
	width: 300px;
	text-align: right;
	white-space: normal;
	padding: 4px 5px 0 0;
}

form div.propMed .name {
	font-weight: 700;
	width: 150px;
	float: left;
	text-align: right;
	padding-right: 10px;
}

form div.propMed div.title {
	font-weight: 700;
	float: left;
	width: 150px;
	text-align: right;
	white-space: normal;
	padding: 4px 5px 0 0;
}

form div.alignment {
	padding-left: 153px;
}

form div.actionButtons {
	text-align: right;
}

#activeuser {
	font-weight: 700;
}

.xxtiny {
	width: 25px;
}

.tiny {
	width: 75px;
}

.small {
	width: 125px;
}

.premedium {
	width: 90px;
}

.larger {
	width: 255px;
}

.h_medium {
	height: 48px;
}

.h_large {
	height: 84px;
}

.h70px {
	height: 70px;
}

.wrap {
	height: 100%;
	width: 90%;
	white-space: normal;
}

.white-space-normal {
	white-space: normal;
}

table tr td.center {
	text-align: center;
}

table tr td.vtop {
	vertical-align: top;
}

.vbtm {
	vertical-align: bottom;
}

.padding_rigth {
	padding-right: 50px;
}

.padding_left {
	padding-right: 50px;
	vertical-align: top;
}

form table tr th, form table tr td {
	white-space: nowrap;
}

form table.entitylist tr td img {
	margin: 0 2px;
}

img.ajaxloading {
	display: block;
	position: absolute;
}

.mystyle4header {
	height: 30px;
	font-weight: 700;
	font-size: 14px;
}

.detaybaslik {
	font-weight: 700;
	font-size: 14px;
	color: #bf3434;
}

.column55 {
	width: 55%;
}

.column33 {
	width: 33%;
}

.column60 {
	width: 60%;
	vertical-align: top;
	padding-right: 50px;
}

.column40 {
	width: 40%;
	vertical-align: top;
	padding-right: 50px;
}

.column33 label {
	margin-right: 10px;
}

.pdfFont {
	font-family: helvetica;
	font-size: 10px;
}

.rich-tabpanel {
	position: relative;
}

.mesajlar {
	font-size: 18px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.genelToplam {
	background-color: #e0e0e0;
}

input.button.small, button.button.small {
	width: 125px;
}

input.button.tiny, button.button.tiny {
	width: 75px;
}

input.button.xtiny, button.button.xtiny {
	width: 50px;
}

input.button.medium, button.button.medium,
	.teminatLimitliPopupHeaderColumnb, .medium {
	width: 150px;
}

input.button.large, button.button.large, .large {
	width: 225px;
}

input.button.xlarge, button.button.xlarge, .xlarge {
	width: 300px;
}

input.button.xxlarge, button.button.xxlarge, .xxlarge {
	width: 350px;
}

.xxxlarge {
	width: 450px;
}

form div.propMin, .prop, form div.propMax, form div.propMed {
	margin-top: 5px;
}

form div.propMin .name, form div.propMax .name {
	font-weight: 700;
	width: 150px;
	float: left;
	text-align: right;
	padding-right: 10px;
}

form div.propMin label, .prop label, form div.propMax label, form div.propMed label
	{
	margin-bottom: 3px;
}

form div.propMin label.checkbox, .prop label.checkbox, form div.propMax label.checkbox,
	form div.propMed label.checkbox {
	display: inline;
	padding-bottom: 2px;
}

form div.propMin .button, .prop .button, form div.propMax .button, form div.propMed .button
	{
	position: absolute;
	margin: -1px 0 0 5px;
}

form div.propMin span.required, .prop span.required, form div.propMax span.required,
	form div.propMed span.required {
	color: #bf3434;
	padding-left: 5px;
}

form div.propMin span.errors, .prop span.errors, form div.propMax span.errors,
	form div.propMed span.errors {
	color: #bf3434;
	display: block;
	font-size: 12px;
}

form div.propMin img, .prop img, form div.propMax img, form div.propMed img
	{
	padding: 0 5px;
}

form div.propMin span.errors img, .prop span.errors img, form div.propMax span.errors img,
	form div.propMed span.errors img {
	position: absolute;
}

.prop div.phoneHeaderXtiny, form input.w65px {
	width: 65px;
}

.xtiny, form input.w50px {
	width: 50px;
}

.fifty, .column50 {
	width: 50%;
}

.full, form table.entitylist, .column100 {
	width: 100%;
}

table.detail_input td, table.detail_view td {
	vertical-align: top;
	padding-right: 50px;
}

textarea.teklifMuafiyet {
	border: 1px solid #666666;
	padding: 5px;
	width: 200px;
	height: 25px;
	font-size: 12px;
}

a.link, a.link:visited, a.link:active {
	color: #369;
}

a.link:hover {
	color: #fff;
	background: #369;
	text-decoration: none;
}

#header {
	width: 100%;
	border-bottom: 1px solid #000;
}

#header p, #header h1, #header h2 {
	padding: .4em 15px 0;
}

#header ul {
	text-align: left;
}

#info {
	text-align: right;
	color: #000;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 6px 15px 0;
}

#info img, span, a {
	vertical-align: bottom;
}

.content {
	margin: 10px 0 0;
	padding-bottom: 204px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

#footer {
	width: 100%;
	border-top: 1px solid #000;
}

#footer p {
	margin: 0;
	padding: 10px;
}

#menu {
	position: relative;
	z-index: 100;
}

p, div {
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
}

img {
	border: 0;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.float_right {
	float: right;
}

.cursor, .rich-tab-inactive {
	cursor: pointer;
}

.black_overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
	-moz-opacity: 0.8px;
	opacity: .80;
	filter: alpha(opacity = 80);
}

.white_content {
	display: none;
	position: absolute;
	top: 2%;
	left: 10%;
	width: 80%;
	height: 620px;
	border: 16px solid #bf3434;
	background-color: #f1f1f1;
	z-index: 0;
	overflow: auto;
	padding: 5px;
}

.block {
	display: block;
}

.none {
	display: none;
}

#teklifAramaForm table thead.dr-table-thead tr th {
	background: #bf3434;
}

#teklifAramaForm table thead.dr-table-thead tr th div, #teklifAramaForm table thead.dr-table-thead tr th span
	{
	color: #fff;
}

div.klozMetniAciklamaVeOzelNotDilBaslik {
	border: solid 1px;
	background-color: #FFD9D9;
	font-weight: 700;
	font-size: medium;
	text-align: center;
	border-radius: 7px;
	opacity: 0.8;
}

textarea.script {
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 400;
	width: 98%;
	height: 510px;
	border: 1px solid #bf3434;
	color: #000;
	margin: 5px;
	white-space: pre;
	word-wrap: normal;
	overflow: auto;
}

textarea.kloz {
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 400;
	width: 95%;
	height: 430px;
	margin: 5px;
}

textarea.klozAciklama {
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 400;
	width: 95%;
	height: 100px;
	margin: 5px;
}

textarea.klozBlur {
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 400;
	width: 95%;
	height: 50px;
	margin: 5px;
}

textarea.klozFocus {
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	font-weight: 400;
	width: 95%;
	height: 510px;
	margin: 5px;
}

textarea.focus {
	width: 400px;
	height: 200px;
	position: absolute;
	border: 1px solid #404040;
	color: #000000;
	margin-right: 5px;
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
}

textarea.blur {
	width: 200px;
	height: 17px;
	position: none;
	border: 1px solid #404040;
	color: #000000;
	margin-right: 5px;
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
	overflow: hidden;
}

textarea.focus2 {
	width: 400px;
	height: 200px;
	border: 1px solid #404040;
	color: #000000;
	margin-right: 5px;
	font-family: tahoma, verdana, helvetica;
	font-size: 11px;
}

.tooltip {
	background-color: #FFFFFF;
	border: 1px solid #CC3300;
	padding: 10px;
}

.tooltipPanel {
	cursor: arrow;
	border-width: 1px;
	text-align: left;
	vertical-align: middle;
	bodyClass: rich-laguna-panel-no-header;
}

.extdt-row-selected {
	background-color: #F9E4E4;
	color: white;
}

.extdt-subheader {
	background-color: #900000;
	background-image:
		url("/gunessigorta/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.GradientA/DATB/eAGLiLjPwDCBCQAJ!AIi");
	border-color: #900000;
}

.extdt-menu-div-on {
	background-color: #C33939;
}

.extdt-subheadercell, .extdt-sortable-header {
	color: white;
}

.dt-row-odd {
	
}

.dt-row-even {
	background-color: #eee;
}

.dt-row-group {
	background-color: #dddeee;
}

.rich-table-subheader {
	background-color: #900000;
	background-image:
		url("/gunessigorta/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.GradientA/DATB/eAGLiLjPwDCBCQAJ!AIi");
	border-color: #900000;
}

.rich-table-subheadercell, .rich-table-subheadercell div,
	.rich-table-sortable-header {
	color: white;
}

.row_ZEYILDE_EKLENDI {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

.row_ZEYILDE_CIKARTILDI {
	text-decoration: line-through;
}

.rowZeyilEkraniGoruntuDurumu_GREEN {
	color: green;
	font-weight: bold;
	text-decoration: underline;
}

.rowZeyilEkraniGoruntuDurumu_GRAY {
	color: gray;
	font-weight: bold;
	text-decoration: underline;
}

.rowZeyilEkraniGoruntuDurumu_BROWN {
	color: brown;
	font-weight: bold;
	text-decoration: line-through;
}

.hasarTextArea {
	width: 280px;
	height: 70px;
}

.tutar {
	text-align: right;
	float: right;
}

.doviz {
	text-align: right;
	float: right;
	padding-left: 4px;
}

.tutarLeft {
	
}

.dovizLeft {
	padding-left: 4px;
}

.message {
	font-size: 12px;
}

.message dt.infomsg {
	background: no-repeat left center url(../img/msginfo.png);
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #74A2C0 1px solid;
	BORDER-TOP: #74A2C0 1px solid;
	BORDER-LEFT: #74A2C0 1px solid;
	BORDER-BOTTOM: #74A2C0 1px solid;
	BACKGROUND-COLOR: #E0EAF1;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.message dt.errormsg {
	color: #900000;
	font: bold;
	background: no-repeat left center url("../img/msgerror.png");
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #900000 1px solid;
	BORDER-TOP: #900000 1px solid;
	BORDER-LEFT: #900000 1px solid;
	BORDER-BOTTOM: #900000 1px solid;
	BACKGROUND-COLOR: #FFD9D9;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.message dt.warnmsg {
	background: no-repeat left center url("../img/msgwarn.png");
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #FFBF00 1px solid;
	BORDER-TOP: #FFBF00 1px solid;
	BORDER-LEFT: #FFBF00 1px solid;
	BORDER-BOTTOM: #FFBF00 1px solid;
	BACKGROUND-COLOR: #FDFBD7;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.gnlinfomsg {
	font-size: 12px;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #74A2C0 1px solid;
	BORDER-TOP: #74A2C0 1px solid;
	BORDER-LEFT: #74A2C0 1px solid;
	BORDER-BOTTOM: #74A2C0 1px solid;
	BACKGROUND-COLOR: #E0EAF1;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.gnlerrormsg {
	font-size: 12px;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #900000 1px solid;
	BORDER-TOP: #900000 1px solid;
	BORDER-LEFT: #900000 1px solid;
	BORDER-BOTTOM: #900000 1px solid;
	BACKGROUND-COLOR: #FFD9D9;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.gnlwarnmsg {
	font-size: 12px;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
	margin-top: 1px;
	BORDER-RIGHT: #FFBF00 1px solid;
	BORDER-TOP: #FFBF00 1px solid;
	BORDER-LEFT: #FFBF00 1px solid;
	BORDER-BOTTOM: #FFBF00 1px solid;
	BACKGROUND-COLOR: #FDFBD7;
	PADDING-TOP: 5px;
	PADDING-BOTTOM: 5px;
	opacity: 0.8;
	border-radius: 5px;
}

.tright {
	text-align: right
}

.auto {
	text-align: right;
}

.onlyBold {
	font-weight: 700;
}

.padding_left50px {
	padding-left: 50px;
}

.rich-progress-bar-finished {
	background-color: #FF9409;
	background-image: url("/gunessigorta/img/progress-finished.png");
}

.wrapword {
	white-space: -moz-pre-wrap !important;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.row_IBRA_GIRILDI {
	background-color: #CC6664;
}

.grey {
	color: grey;
}

.red_bold_underline {
	color: red;
	font-weight: bold;
	text-decoration: underline;
}

form div.propMin .notAbsoluteButton, .prop .notAbsoluteButton, form div.propMax .notAbsoluteButton,
	form div.propMed .notAbsoluteButton {
	position: static;
	margin: 1px 2px 1px 2px;
}

.rich-calendar-tool-btn {
	color: #ffffff
}

.rich-calendar-tool-btn-hover {
	color: #000000
}

.rich-calendar-toolfooter div {
	color: #000000
}

.mesaj {
	font-weight: bold;
}

.mesajRead {
	color: black;
	text-decoration: none;
}

.htmlText {
	background-color: #ffffff;
	border: 1px solid;
	word-wrap: break-word;
	float: left;
	text-decoration: none;
	overflow: auto;
}

.nonvisible {
	visibility: hidden;
}

.rich-ddmenu-label-select-menu {
	border: 0 solid transparent;
	background-color: transparent;
	padding: 3px 6px;
}

input.rich-combobox-input, input.rich-combobox-input-inactive {
	height: 17px;
	border: 1px solid;
	border-width: 1px;
	border-style: solid;
	border-color: #404040;
	font-family: tahoma, verdana, helvetica;
	color: #000;
	margin-right: 0px;
}

input.rich-combobox-input-disabled {
	height: 17px;
	border: 1px solid;
	border-width: 1px;
	border-style: solid;
	border-color: #404040;
	font-family: tahoma, verdana, helvetica;
	color: #AAAAAA;
	margin-right: 0px;
}

input.rich-combobox-font-disabled {
	border-color: #404040;
	color: #AAAAAA;
}

input.rich-combobox-button, input.rich-combobox-button-inactive, input.rich-combobox-button-disabled
	{
	height: 17px;
	width: 17px;
	border-right: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-left: 0px;
	padding: 0px;
}

input.rich-combobox-input:focus, input.rich-combobox-input-inactive:focus,
	input.input.rich-combobox-input-disabled:focus {
	border: #bf3434 solid 1px;
	background: #ffffdf;
}

.inheritedSubTable {
	border: 0px;
	padding: 1px;
	color: #000000;
	background-color: inherit;
}

.perttenIptal {
	background: #FFFF00;
}

.button_60 {
	font-weight: 900;
	font-size: 17px;
	width: 221px;
	height: 60px;
	background: transparent url('/gunessigorta/img/button_60.png') no-repeat
		scroll top right;
	border: 0px none;
	color: #bf3434;
	cursor: pointer;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

/*********** TEMEL PUSULA TEMASI ***************************************************************************/
.rich-panel, .rich-panelbar {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 0 2px rgba(34, 34, 34, 0.17), -2px 0 2px
		rgba(34, 34, 34, 0.17);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F8F8F8;
}

.rich-panel-header, .rich-panelbar-header {
	border-radius: 5px 5px 0px 0px;
	padding-left: 10px;
}

.rich-tabpanel-content, .rich-panelbar-content-exterior {
	box-shadow: 2px 0 2px rgba(34, 34, 34, 0.17), -2px 0 2px
		rgba(34, 34, 34, 0.17);
	background-color: #F8F8F8;
}

.rich-stglpanel {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 2px 0 2px rgba(34, 34, 34, 0.17), -2px 0 2px
		rgba(34, 34, 34, 0.17);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F8F8F8;
}

.rich-stglpanel-header {
	border-radius: 5px 5px 0px 0px;
	padding-left: 10px;
}

.rich-stglpanel-body {
	border-radius: 0px 0px 5px 5px;
	box-shadow: 2px 0 2px rgba(34, 34, 34, 0.17), -2px 0 2px
		rgba(34, 34, 34, 0.17);
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #F8F8F8;
}

input[type="text"], input.text, input.rich-calendar-input {
	height: 17px;
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	padding: 1px 1px;
	padding-left: 10px;
	outline: none;
}

input.rich-combobox-button, input.rich-combobox-button-inactive, input.rich-combobox-button-disabled
	{
	border-radius: 0px;
	box-shadow: 0 0 0px #DDD inset;
	width: 7px;
}

input[type="button"], input[type="submit"], input[type="reset"] {
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

textarea, textarea.text, textarea.blur, textarea.focus {
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	padding-left: 10px;
	outline: none;
}

select, select.text {
	height: '';
	border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 0 5px #DDD inset;
	padding: 3px 1px;
	padding-left: 5px;
	outline: none;
}

:disabled {
	background-color: #ebebe3;
}

/********************************************************************************************************************/
.elementName {
	color: darkred;
}

.elementValue {
	font-weight: bolder;
	font-size: 10pt;
	font-family: inherit;
}

.elementBracket {
	color: blue;
}

.attributeName {
	color: blue;
}

.attributeValue {
	color: darkgreen;
}

.attributeEquals {
	color: darkred;
	font-weight: bold;
}

.OPERATION {
	
}

.REQUEST {
	color: fuchsia;
}

.leftTree {
	vertical-align: top;
	width: 20%;
	margin-left: 0px;
	margin-top: 0px;
}

.rightTab {
	vertical-align: top;
	margin-left: 0px;
	margin-top: 0px;
}

.inherit {
	border-color: inherit;
	background-color: inherit;
}

.pre {
	max-height: 650px;
	display: none;
	width: 0px;
	overflow: auto;
	border: solid thin;
	border-color: inherit;
	background-color: white;
	margin-top: 3px;
	word-wrap: break-word;
	margin-top: 3px;
	white-space: pre-wrap;
}
